<h1><%= t("tests.index.header") %></h1>

<table class="table">
  <tr>
    <th scope="col"><%= t('.category') %></th>
    <th scope="col"><%= t('.title') %></th>
    <th scope="col"><%= t('.level') %></th>
    <th scope="col"><%= t('.author') %></th>
    <th scope="col"><%= t('.questions') %></th>
  </tr>
  <tbody>
    <%= render @tests %>
  </tbody>
</table>

